<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_EpaceImport>
            <version>0.1.17</version>
        </Blackbox_EpaceImport>
    </modules>
    <global>
        <blocks>
            <epacei>
                <class>Blackbox_EpaceImport_Block</class>
            </epacei>
            <adminhtml>
                <rewrite>
                    <dashboard_sales>Blackbox_EpaceImport_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
                    <sales_order_totals>Blackbox_EpaceImport_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_grid>Blackbox_EpaceImport_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_view>Blackbox_EpaceImport_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_shipment_grid>Blackbox_EpaceImport_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                    <sales_invoice_grid>Blackbox_EpaceImport_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                    <sales_order_invoice_view>Blackbox_EpaceImport_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <customer_edit_tab_orders>Blackbox_EpaceImport_Block_Adminhtml_Customer_Edit_Tab_Orders</customer_edit_tab_orders>
                    <customer_edit_tab_view>Blackbox_EpaceImport_Block_Adminhtml_Customer_Edit_Tab_View</customer_edit_tab_view>
                    <customer_edit_tab_view_sales>Blackbox_EpaceImport_Block_Adminhtml_Customer_Edit_Tab_View_Sales</customer_edit_tab_view_sales>
                    <customer_edit_tabs>Blackbox_EpaceImport_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                    <dashboard_totals>Blackbox_EpaceImport_Block_Adminhtml_Dashboard_Totals</dashboard_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <adminhtml_customer_edit_tab_agreement>Blackbox_EpaceImport_Block_Adminhtml_Customer_Edit_Tab_Agreement</adminhtml_customer_edit_tab_agreement>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <epacei>
                <class>Blackbox_EpaceImport_Helper</class>
            </epacei>
        </helpers>
        <models>
            <epacei>
                <class>Blackbox_EpaceImport_Model</class>
                <resourceModel>epacei_resource</resourceModel>
            </epacei>
            <epacei_resource>
                <class>Blackbox_EpaceImport_Model_Resource</class>
                <entities>
                    <estimate>
                        <table>epacei_flat_estimate</table>
                    </estimate>
                    <estimate_grid>
                        <table>epacei_flat_estimate_grid</table>
                    </estimate_grid>
                    <estimate_item>
                        <table>epacei_flat_estimate_item</table>
                    </estimate_item>
                    <estimate_status_history>
                        <table>epacei_flat_estimate_status_history</table>
                    </estimate_status_history>
                    <receivable>
                        <table>epacei_flat_receivable</table>
                    </receivable>
                    <purchase_order>
                        <table>epacei_flat_purchase_order</table>
                    </purchase_order>
                    <purchase_order_item>
                        <table>epacei_flat_purchase_order_item</table>
                    </purchase_order_item>
                    <purchase_order_status_history>
                        <table>epacei_flat_purchase_order_status_history</table>
                    </purchase_order_status_history>
                    <address>
                        <table>epacei_flat_address</table>
                    </address>
                    <vendor>
                        <table>epacei_flat_vendor</table>
                    </vendor>
                </entities>
            </epacei_resource>
            <sales>
                <rewrite>
                    <order_shipment>Blackbox_EpaceImport_Model_Sales_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
            <usa>
                <rewrite>
                    <shipping_carrier_ups>Blackbox_EpaceImport_Model_Usa_Shipping_Carrier_Ups</shipping_carrier_ups>
                </rewrite>
            </usa>
        </models>
        <resources>
            <epace_import_setup>
                <setup>
                    <module>Blackbox_EpaceImport</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </epace_import_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epace_import before="Mage_Adminhtml">Blackbox_EpaceImport_Adminhtml</epace_import>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <epace_import>
                    <file>blackbox/epace_import.xml</file>
                </epace_import>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <epace_payment>
                <model>epacei/payment_epace</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Epace</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </epace_payment>
        </payment>
        <carriers>
            <epace_shipping>
                <active>1</active>
                <model>epacei/shipping_carrier</model>
                <title>Epace Carrier</title>
                <sort_order>100</sort_order>
                <sallowspecific>0</sallowspecific>
            </epace_shipping>
        </carriers>
        <epace>
            <import>
                <update_estimates>1</update_estimates>
                <update_jobs>1</update_jobs>
                <update_closed_jobs>0</update_closed_jobs>
                <update_receivables>1</update_receivables>
                <update_invoices>1</update_invoices>
                <update_shipments>1</update_shipments>
                <update_purchase_orders>1</update_purchase_orders>
                <import_new>1</import_new>
                <log>1</log>
            </import>
        </epace>
    </default>
    <crontab>
        <jobs>
            <epace_import>
                <schedule>
                    <cron_expr>0 */6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>epacei/cron::updateEpaceEntities</model>
                </run>
            </epace_import>
        </jobs>
    </crontab>
</config>