<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_LoginHistory>
            <version>0.1</version>
        </Blackbox_LoginHistory>
    </modules>
    <global>
        <helpers>
            <login_history>
                <class>Blackbox_LoginHistory_Helper</class>
            </login_history>
        </helpers>
        <blocks>
            <login_history>
                <class>Blackbox_LoginHistory_Block</class>
            </login_history>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>Blackbox_LoginHistory_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <login_history>
                <class>Blackbox_LoginHistory_Model</class>
                <resourceModel>login_history_resource</resourceModel>
            </login_history>
            <login_history_resource>
                <class>Blackbox_LoginHistory_Model_Resource</class>
                <entities>
                    <login>
                        <table>login_history</table>
                    </login>
                </entities>
            </login_history_resource>
        </models>
        <resources>
            <login_history_setup>
                <setup>
                    <module>Blackbox_LoginHistory</module>
                </setup>
            </login_history_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <log>
                        <class>login_history/observer</class>
                        <method>customerLogin</method>
                    </log>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <login_history>
                    <file>blackbox/login_history.xml</file>
                </login_history>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <login_history before="Mage_Adminhtml">Blackbox_LoginHistory_Adminhtml</login_history>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <login_history_update>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>login_history/observer::updateLocations</model>
                </run>
            </login_history_update>
        </jobs>
    </crontab>
</config>