<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_Epace>
            <version>0.5</version>
        </Blackbox_Epace>
    </modules>
    <global>
        <helpers>
            <epace>
                <class>Blackbox_Epace_Helper</class>
            </epace>
        </helpers>
        <blocks>
            <epace>
                <class>Blackbox_Epace_Block</class>
            </epace>
            <storelocator>
                <rewrite>
                    <adminhtml_storelocator_edit_tabs>Blackbox_Epace_Block_Adminhtml_Storelocator_Edit_Tabs</adminhtml_storelocator_edit_tabs>
                </rewrite>
            </storelocator>
        </blocks>
        <models>
            <epace>
                <class>Blackbox_Epace_Model</class>
                <resourceModel>epace_mysql4</resourceModel>
            </epace>
            <epace_mysql4>
                <class>Blackbox_Epace_Model_Mysql4</class>
                <entities>
                    <event>
                        <table>epace_event</table>
                    </event>
                    <event_file>
                        <table>epace_event_file</table>
                    </event_file>
                </entities>
            </epace_mysql4>
        </models>
        <resources>
            <epace_setup>
                <setup>
                    <module>Blackbox_Epace</module>
                </setup>
            </epace_setup>
        </resources>
        <events>
            <sales_order_invoice_register>
                <observers>
                    <epace_create_job>
                        <type>singleton</type>
                        <class>epace/observer</class>
                        <method>createJob</method>
                    </epace_create_job>
                </observers>
            </sales_order_invoice_register>
            <sales_order_save_commit_after>
                <observers>
                    <epace_complete_order>
                        <type>singleton</type>
                        <class>epace/observer</class>
                        <method>completeOrder</method>
                    </epace_complete_order>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <admin>
        <routers>
            <epace>
                <use>admin</use>
                <args>
                    <module>Blackbox_Epace_Adminhtml</module>
                    <frontName>epace</frontName>
                </args>
            </epace>
        </routers>
    </admin>
    <default>
        <epace>
            <main_settings>
                <base_url>http://12.235.31.106</base_url>
                <username>scgct</username>
                <password>scgct_8432</password>
                <sales_person>27</sales_person>
                <!--<contact_id>9791</contact_id>-->
                <default_customer_id>00001421</default_customer_id>
            </main_settings>
            <test_requests>
                <in1>Job</in1>
                <in2>@dateSetup = date( 2012, 07, 16 )</in2>
                <customer>ZTEST1</customer>
                <description>TEST JOB</description>
                <employee>EFI</employee>
                <start_date>2017-08-22</start_date>
                <start_time>17:13:37</start_time>
                <stop_time>22:13:37</stop_time>
            </test_requests>
        </epace>
    </default>
</config>