<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_OrderApproval>
            <version>0.7</version>
        </Blackbox_OrderApproval>
    </modules>
    <global>
        <helpers>
            <order_approval>
                <class>Blackbox_OrderApproval_Helper</class>
            </order_approval>
        </helpers>
        <blocks>
            <order_approval>
                <class>Blackbox_OrderApproval_Block</class>
            </order_approval>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Blackbox_OrderApproval_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <order_approval>
                <class>Blackbox_OrderApproval_Model</class>
                <resourceModel>order_approval_resource</resourceModel>
            </order_approval>
            <order_approval_resource>
                <class>Blackbox_OrderApproval_Model_Resource</class>
                <entities>
                    <rule>
                        <table>order_approval_rule</table>
                    </rule>
                    <website>
                        <table>order_approval_website</table>
                    </website>
                    <approval>
                        <table>order_approval</table>
                    </approval>
                    <approval_grid>
                        <table>order_approval_grid</table>
                    </approval_grid>
                    <approval_item>
                        <table>order_approval_item</table>
                    </approval_item>
                    <approval_comment>
                        <table>order_approval_comment</table>
                    </approval_comment>
                    <disapproval>
                        <table>order_approval_disapproval</table>
                    </disapproval>
                </entities>
            </order_approval_resource>
            <autoinvoice>
                <rewrite>
                    <observer>Blackbox_OrderApproval_Model_AutoInvoice_Observer</observer>
                </rewrite>
            </autoinvoice>
            <sales>
                <rewrite>
                    <order_item>Blackbox_OrderApproval_Model_Sales_Order_Item</order_item>
                    <order>Blackbox_OrderApproval_Model_Sales_Order</order>
                    <service_order>Blackbox_OrderApproval_Model_Service_Order</service_order>
                    <convert_order>Blackbox_OrderApproval_Model_Convert_Order</convert_order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <order_approval_setup>
                <setup>
                    <module>Blackbox_OrderApproval</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </order_approval_setup>
        </resources>
        <pdf>
            <approval>
                <default>order_approval/order_pdf_items_approval_default</default>
                <grouped>order_approval/order_pdf_items_approval_grouped</grouped>
            </approval>
        </pdf>
        <fieldsets>
            <sales_convert_order_item>
                <sku>
                    <to_approval_item>*</to_approval_item>
                </sku>
                <name>
                    <to_approval_item>*</to_approval_item>
                </name>
                <description>
                    <to_approval_item>*</to_approval_item>
                </description>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <ordereditor_order_edit_save_after>
                <observers>
                    <order_approval_remember_comment>
                        <class>order_approval/observer</class>
                        <method>orderEditRememberComment</method>
                    </order_approval_remember_comment>
                </observers>
            </ordereditor_order_edit_save_after>
            <sales_order_save_before>
                <observers>
                    <order_approval_set_approved_qty>
                        <class>order_approval/observer</class>
                        <method>setApprovedQtyForAutoapproved</method>
                    </order_approval_set_approved_qty>
                </observers>
            </sales_order_save_before>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <max_approval />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <order_approval>
                    <file>blackbox/order_approval.xml</file>
                </order_approval>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <order_approval>
                <use>admin</use>
                <args>
                    <module>Blackbox_OrderApproval</module>
                    <frontName>orderapproval</frontName>
                </args>
            </order_approval>
            <adminhtml>
                <args>
                    <modules>
                        <order_approval before="Mage_Adminhtml">Blackbox_OrderApproval_Adminhtml</order_approval>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <order_approval>
                    <file>blackbox/order_approval.xml</file>
                </order_approval>
            </updates>
        </layout>
        <routers>
            <order_approval>
                <use>standard</use>
                <args>
                    <module>Blackbox_OrderApproval</module>
                    <frontName>orderapproval</frontName>
                </args>
            </order_approval>
        </routers>
    </frontend>
    <default>
        <sales_pdf>
            <approval>
                <put_order_id>1</put_order_id>
            </approval>
        </sales_pdf>
    </default>
</config>