<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_RolesPermissions>
            <version>0.5</version>
            <depends>
                <Blackbox_Dsfsso />
            </depends>
        </Blackbox_RolesPermissions>
    </modules>
    <global>
        <helpers>
            <rolespermissions>
                <class>Blackbox_RolesPermissions_Helper</class>
            </rolespermissions>
        </helpers>
        <blocks>
            <rolespermissions>
                <class>Blackbox_RolesPermissions_Block</class>
            </rolespermissions>
            <cms>
                <rewrite>
                    <block>Blackbox_RolesPermissions_Block_Cms_Block</block>
                </rewrite>
            </cms>
            <wishlist>
                <rewrite>
                    <customer_wishlist_item_column_cart>Blackbox_RolesPermissions_Block_Wishlist_Customer_Wishlist_Item_Column_Cart</customer_wishlist_item_column_cart>
                </rewrite>
            </wishlist>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_invoices>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_View_Tab_Invoices</sales_order_view_tab_invoices>
                    <sales_order_create_sidebar_cart>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_Create_Sidebar_Cart</sales_order_create_sidebar_cart>
                    <sales_order_create_sidebar_compared>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_Create_Sidebar_Compared</sales_order_create_sidebar_compared>
                    <sales_order_create_sidebar_pcompared>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_Create_Sidebar_Pcompared</sales_order_create_sidebar_pcompared>
                    <sales_order_create_sidebar_pviewed>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_Create_Sidebar_Pviewed</sales_order_create_sidebar_pviewed>
                    <sales_order_create_sidebar_viewed>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_Create_Sidebar_Viewed</sales_order_create_sidebar_viewed>
                    <sales_order_create_sidebar_wishlist>Blackbox_RolesPermissions_Block_Adminhtml_Sales_Order_Create_Sidebar_Wishlist</sales_order_create_sidebar_wishlist>
                    <dashboard_orders_grid>Blackbox_RolesPermissions_Block_Adminhtml_Dashboard_Orders_Grid</dashboard_orders_grid>
                    <dashboard_tab_products_ordered>Blackbox_RolesPermissions_Block_Adminhtml_Dashboard_Tab_Products_Ordered</dashboard_tab_products_ordered>
                    <dashboard_tab_products_viewed>Blackbox_RolesPermissions_Block_Adminhtml_Dashboard_Tab_Products_Viewed</dashboard_tab_products_viewed>
                    <dashboard_tab_customers_newest>Blackbox_RolesPermissions_Block_Adminhtml_Dashboard_Tab_Customers_Newest</dashboard_tab_customers_newest>
                    <dashboard_tab_customers_most>Blackbox_RolesPermissions_Block_Adminhtml_Dashboard_Tab_Customers_Most</dashboard_tab_customers_most>
                    <catalog_product_edit_tabs>Blackbox_RolesPermissions_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                    <dashboard_totals>Blackbox_RolesPermissions_Block_Adminhtml_Dashboard_Totals</dashboard_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <rolespermissions>
                <class>Blackbox_RolesPermissions_Model</class>
                <resourceModel>rolespermissions_resource</resourceModel>
            </rolespermissions>
            <rolespermissions_resource>
                <class>Blackbox_RolesPermissions_Model_Resource</class>
                <deprecatedNode>rolespermissions_mysql4</deprecatedNode>
                <entities>
                    <rule>
                        <table>rolespermissions</table>
                    </rule>
                    <denied_product>
                        <table>rolespermissions_denied_product</table>
                    </denied_product>
                    <denied_category>
                        <table>rolespermissions_denied_category</table>
                    </denied_category>
                    <website>
                        <table>rolespermissions_website</table>
                    </website>
                </entities>
            </rolespermissions_resource>
            <customer>
                <rewrite>
                    <customer_attribute_source_group>Blackbox_RolesPermissions_Model_Customer_Attribute_Source_Group</customer_attribute_source_group>
                    <session>Blackbox_RolesPermissions_Model_Customer_Session</session>
                </rewrite>
            </customer>
            <admin>
                <rewrite>
                    <observer>Blackbox_RolesPermissions_Model_Admin_Observer</observer>
                    <user>Blackbox_RolesPermissions_Model_Admin_User</user>
                    <session>Blackbox_RolesPermissions_Model_Admin_Session</session>OnePica_Avatax
                    <acl>Blackbox_RolesPermissions_Model_Admin_Acl</acl>
                </rewrite>
            </admin>
            <admin_resource>
                <rewrite>
                    <user>Blackbox_RolesPermissions_Model_Resource_Admin_User</user>
                </rewrite>
            </admin_resource>
            <core>
                <rewrite>
                    <session>Blackbox_RolesPermissions_Model_Core_Session</session>
                </rewrite>
            </core>
            <review>
                <rewrite>
                    <observer>Blackbox_RolesPermissions_Model_Observer</observer>
                </rewrite>
            </review>
            <api>
                <rewrite>
                    <acl>Blackbox_RolesPermissions_Model_Api_Acl</acl>
                </rewrite>
            </api>
        </models>
        <resources>
            <rolespermissions_setup>
                <setup>
                    <module>Blackbox_RolesPermissions</module>
                </setup>
            </rolespermissions_setup>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <rolepermissions_customer_save>
                        <class>rolespermissions/observer</class>
                        <method>customerSaveAfter</method>
                    </rolepermissions_customer_save>
                </observers>
            </customer_save_after>
            <catalog_product_save_after>
                <observers>
                    <rolepermissions_product_save>
                        <class>rolespermissions/observer</class>
                        <method>productSaveAfter</method>
                    </rolepermissions_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <rolepermissions_category_save>
                        <class>rolespermissions/observer</class>
                        <method>categorySaveAfter</method>
                    </rolepermissions_category_save>
                </observers>
            </catalog_category_save_after>
            <catalog_category_collection_load_before>
                <observers>
                    <rolespermissions>
                        <class>rolespermissions/observer</class>
                        <method>processCategoryCollection</method>
                    </rolespermissions>
                </observers>
            </catalog_category_collection_load_before>
            <catalog_api_category_init_after>
                <observers>
                    <rolepermissions>
                        <class>rolespermissions/observer</class>
                        <method>checkCategoryAccessRights</method>
                    </rolepermissions>
                </observers>
            </catalog_api_category_init_after>
            <sales_quote_product_add_after>
                <observers>
                    <rolepermissions>
                        <class>rolespermissions/observer</class>
                        <method>checkQuoteProductAddAccessRights</method>
                    </rolepermissions>
                </observers>
            </sales_quote_product_add_after>
            <wishlist_product_add_after>
                <observers>
                    <rolepermissions>
                        <class>rolespermissions/observer</class>
                        <method>checkQuoteProductAddAccessRights</method>
                    </rolepermissions>
                </observers>
            </wishlist_product_add_after>
        </events>
    </global>
    <frontend>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <rolepermissions_catalog_category_view>
                        <class>rolespermissions/observer</class>
                        <method>checkCategoryAccessRights</method>
                    </rolepermissions_catalog_category_view>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_controller_product_init>
                <observers>
                    <rolespermissions_catalog_product_view>
                        <class>rolespermissions/observer</class>
                        <method>checkProductAccessRights</method>
                    </rolespermissions_catalog_product_view>
                </observers>
            </catalog_controller_product_init>
            <!--<catalog_block_product_list_collection>
                <observers>
                    <rolespermissions_catalog_product_collection>
                        <class>rolespermissions/observer</class>
                        <method>processProductCollection</method>
                    </rolespermissions_catalog_product_collection>
                </observers>
            </catalog_block_product_list_collection>-->
            <cms_page_render>
                <observers>
                    <rolespermissions_cms_page_render>
                        <class>rolespermissions/observer</class>
                        <method>checkCmsPageAccessRights</method>
                    </rolespermissions_cms_page_render>
                </observers>
            </cms_page_render>
            <cms_block_tohtml>
                <observers>
                    <rolepermissions_cms_block_tohtml>
                        <class>rolespermissions/observer</class>
                        <method>checkCmsBlockAccessRights</method>
                    </rolepermissions_cms_block_tohtml>
                </observers>
            </cms_block_tohtml>
        </events>
        <layout>
            <updates>
                <rolespermissions>
                    <file>blackbox/rolespermissions.xml</file>
                </rolespermissions>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rolespermissions>
                    <file>blackbox/rolespermissions.xml</file>
                </rolespermissions>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <rolespermissions_hide_price>
                        <class>rolespermissions/observer</class>
                        <method>removePricesFromGrid</method>
                    </rolespermissions_hide_price>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <rolespermissions>
                <use>admin</use>
                <args>
                    <module>Blackbox_RolesPermissions</module>
                    <frontName>rolespermissions</frontName>
                </args>
            </rolespermissions>
            <adminhtml>
                <args>
                    <modules>
                        <rolespermissions before="Mage_Adminhtml">Blackbox_RolesPermissions_Adminhtml</rolespermissions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>

    </default>
</config>
