<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_Notification>
            <version>0.6</version>
        </Blackbox_Notification>
    </modules>
    <global>
        <helpers>
            <blackbox_notification>
                <class>Blackbox_Notification_Helper</class>
            </blackbox_notification>
        </helpers>
        <blocks>
            <blackbox_notification>
                <class>Blackbox_Notification_Block</class>
            </blackbox_notification>
        </blocks>
        <models>
            <blackbox_notification>
                <class>Blackbox_Notification_Model</class>
                <resourceModel>blackbox_notification_resource</resourceModel>
            </blackbox_notification>
            <blackbox_notification_resource>
                <class>Blackbox_Notification_Model_Resource</class>
                <entities>
                    <rule>
                        <table>blackbox_notification_rule</table>
                    </rule>
                    <website>
                        <table>blackbox_notification_website</table>
                    </website>
                    <log>
                        <table>blackbox_notification_log</table>
                    </log>
                    <email_redirect>
                        <table>blackbox_notification_email_redirect</table>
                    </email_redirect>
                    <email_redirect_url>
                        <table>blackbox_notification_email_redirect_url</table>
                    </email_redirect_url>
                    <email_redirect_url_map>
                        <table>blackbox_notification_email_redirect_url_map</table>
                    </email_redirect_url_map>
                    <notification_rule>
                        <table>blackbox_notification_notification_rule</table>
                    </notification_rule>
                    <notification_website>
                        <table>blackbox_notification_notification_website</table>
                    </notification_website>
                    <notification>
                        <table>blackbox_notification_notification</table>
                    </notification>
                </entities>
            </blackbox_notification_resource>
            <sales>
                <rewrite>
                    <order>Blackbox_Notification_Model_Sales_Order</order>
                    <order_invoice>Blackbox_Notification_Model_Sales_Order_Invoice</order_invoice>
                    <order_shipment>Blackbox_Notification_Model_Sales_Order_Shipment</order_shipment>
                    <order_creditmemo>Blackbox_Notification_Model_Sales_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
            <order_approval>
                <rewrite>
                    <approval>Blackbox_Notification_Model_OrderApproval_Approval</approval>
                    <disapproval>Blackbox_Notification_Model_OrderApproval_Disapproval</disapproval>
                </rewrite>
            </order_approval>
            <core>
                <rewrite>
                    <email_template_filter>Blackbox_Notification_Model_Core_Email_Template_Filter</email_template_filter>
                </rewrite>
            </core>
        </models>
        <resources>
            <blackbox_notification_setup>
                <setup>
                    <module>Blackbox_Notification</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blackbox_notification_setup>
            <blackbox_notification_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </blackbox_notification_setup>
            <blackbox_notification_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </blackbox_notification_setup>
        </resources>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <blackbox_notification>
                        <class>blackbox_notification/observer</class>
                        <method>stockItemSaveAfter</method>
                    </blackbox_notification>
                </observers>
            </cataloginventory_stock_item_save_after>
            <sales_order_approval_register>
                <observers>
                    <blackbox_notification>
                        <class>blackbox_notification/observer</class>
                        <method>salesOrderApprovalRegister</method>
                    </blackbox_notification>
                </observers>
            </sales_order_approval_register>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <blackbox_notification>
                    <file>blackbox/notification.xml</file>
                </blackbox_notification>
            </updates>
        </layout>
        <events>
            <ordereditor_order_edit_save_after>
                <observers>
                    <blackbox_notification>
                        <class>blackbox_notification/observer</class>
                        <method>editOrder</method>
                    </blackbox_notification>
                </observers>
            </ordereditor_order_edit_save_after>
            <helpdesk_adminhtml_comment_new>
                <observers>
                    <blackbox_notification>
                        <class>blackbox_notification/observer</class>
                        <method>helpdeskSupportResponse</method>
                    </blackbox_notification>
                </observers>
            </helpdesk_adminhtml_comment_new>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <blackbox_notification>
                <use>admin</use>
                <args>
                    <module>Blackbox_Notification_Adminhtml</module>
                    <frontName>notification</frontName>
                </args>
            </blackbox_notification>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <blackbox_notification>
                    <file>blackbox/notification.xml</file>
                </blackbox_notification>
            </updates>
        </layout>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <blackbox_notification_remember_items_qty>
                        <class>blackbox_notification/observer</class>
                        <method>quoteSubmitBefore</method>
                    </blackbox_notification_remember_items_qty>
                </observers>
            </sales_model_service_quote_submit_before>
            <checkout_submit_all_after>
                <observers>
                    <blackbox_notification>
                        <class>blackbox_notification/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </blackbox_notification>
                </observers>
            </checkout_submit_all_after>
            <checkout_cart_add_product_complete>
                <observers>
                    <blackbox_notification_cart_add_product>
                        <class>blackbox_notification/observer</class>
                        <method>checkoutCartAddProductComplete</method>
                    </blackbox_notification_cart_add_product>
                </observers>
            </checkout_cart_add_product_complete>
            <helpdesk_ticket_new>
                <observers>
                    <blackbox_notification>
                        <class>blackbox_notification/observer</class>
                        <method>helpdeskTicketNew</method>
                    </blackbox_notification>
                </observers>
            </helpdesk_ticket_new>
        </events>
        <routers>
            <blackbox_notification_email>
                <use>standard</use>
                <args>
                    <module>Blackbox_Notification</module>
                    <frontName>email</frontName>
                </args>
            </blackbox_notification_email>
            <blackbox_notification>
                <use>standard</use>
                <args>
                    <module>Blackbox_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </blackbox_notification>
        </routers>
    </frontend>
    <default>
        <notification>
            <settings>
                <count>5</count>
            </settings>
        </notification>
    </default>
</config>