<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wizkunde_WebSSO>
            <version>3.7.6</version>
        </Wizkunde_WebSSO>
    </modules>
    <global>
        <models>
            <websso>
                <class>Wizkunde_WebSSO_Model</class>
                <resourceModel>websso_resource</resourceModel>
            </websso>
            <websso_resource>
                <class>Wizkunde_WebSSO_Model_Resource</class>
                <entities>
                    <idp>
                        <table>wizkunde_websso_idp</table>
                    </idp>
                    <session>
                        <table>wizkunde_websso_session</table>
                    </session>
                    <claim>
                        <table>wizkunde_websso_claim</table>
                    </claim>
                </entities>
            </websso_resource>
        </models>
        <blocks>
            <websso>
                <class>Wizkunde_WebSSO_Block</class>
            </websso>
        </blocks>
        <resources>
            <websso_setup>
                <setup>
                    <module>Wizkunde_WebSSO</module>
                </setup>
            </websso_setup>
        </resources>
        <helpers>
            <websso>
                <class>Wizkunde_WebSSO_Helper</class>
            </websso>
        </helpers>
        <events>
            <wizkunde_websso_user_create>
                <observers>
                    <websso>
                        <type>singleton</type>
                        <class>websso/customer</class>
                        <method>createCustomer</method>
                    </websso>
                </observers>
            </wizkunde_websso_user_create>
            <wizkunde_websso_user_update>
                <observers>
                    <websso>
                        <type>singleton</type>
                        <class>websso/customer</class>
                        <method>updateCustomer</method>
                    </websso>
                </observers>
            </wizkunde_websso_user_update>
            <wizkunde_websso_address_update>
                <observers>
                    <websso>
                        <type>singleton</type>
                        <class>websso/address</class>
                        <method>updateAddress</method>
                    </websso>
                </observers>
            </wizkunde_websso_address_update>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <wizkunde_websso_frontend>
                        <class>websso/frontend</class>
                        <type>singleton</type>
                        <method>_startSSO</method>
                    </wizkunde_websso_frontend>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_customer_account_logout>
                <observers>
                    <wizkunde_websso_observer>
                        <class>websso/sso</class>
                        <type>singleton</type>
                        <method>logout</method>
                    </wizkunde_websso_observer>
                </observers>
            </controller_action_predispatch_customer_account_logout>
        </events>
        <routers>
            <wizkunde_websso>
                <use>standard</use>
                <args>
                    <module>Wizkunde_WebSSO</module>
                    <frontName>websso</frontName>
                </args>
            </wizkunde_websso>
        </routers>
    </frontend>
    <default>
        <websso>
            <advanced>
                <identity_field>email</identity_field>
            </advanced>
            <general>
                <frontend_enabled>0</frontend_enabled>
                <backend_enabled>0</backend_enabled>
                <address_enabled>0</address_enabled>
                <login_route>customer/account/login</login_route>
            </general>
            <merge_mapping>
                <mapping_enabled>0</mapping_enabled>
                <mapping_add_space>0</mapping_add_space>
            </merge_mapping>
            <metadata>
                <idp_metadata_cache>60</idp_metadata_cache>
            </metadata>
            <customer>
                <update_existing_customer>1</update_existing_customer>
            </customer>
        </websso>
    </default>

    <admin>
        <routers>
            <websso>
                <use>admin</use>
                <args>
                    <module>Wizkunde_WebSSO</module>
                    <frontName>websso</frontName>
                </args>
            </websso>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <websso_layout>
                    <file>websso.xml</file>
                </websso_layout>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <auth>
                        <class>websso/backend_observer</class>
                        <method>actionPreDispatchAdmin</method>
                    </auth>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
</config>
