<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_TenderGreens>
            <version>0.1.0</version>
        </Blackbox_TenderGreens>
    </modules>
    <global>
        <blocks>
            <tendergreens>
                <class>Blackbox_TenderGreens_Block</class>
            </tendergreens>
            <sales>
                <rewrite>
                    <order_history>Blackbox_TenderGreens_Block_Sales_Order_History</order_history>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <tendergreens>
                <class>Blackbox_TenderGreens_Helper</class>
            </tendergreens>
        </helpers>
        <models>
            <tendergreens>
                <class>Blackbox_TenderGreens_Model</class>
            </tendergreens>
            <cataloginventory>
                <rewrite>
                    <stock_item>Blackbox_TenderGreens_Model_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>
        <resources>
            <tendergreens>
                <setup>
                    <module>Blackbox_TenderGreens</module>
                </setup>
            </tendergreens>
            <tg_customer>
                <setup>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                    <module>Blackbox_TenderGreens</module>
                </setup>
            </tg_customer>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <tendergreens>
                    <file>blackbox/tendergreens.xml</file>
                </tendergreens>
            </updates>
        </layout>
        <routers>
            <shipping>
                <args>
                    <modules>
                        <Blackbox_TenderGreens before="Mage_Shipping">Blackbox_TenderGreens_Shipping</Blackbox_TenderGreens>
                    </modules>
                </args>
            </shipping>
            <sales>
                <args>
                    <modules>
                        <Blackbox_TenderGreens before="Mage_Sales">Blackbox_TenderGreens_Sales</Blackbox_TenderGreens>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <default>
        <payment>
            <monthly_bill>
                <model>tendergreens/payment_monthly_bill</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Pay Monthly Bill</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </monthly_bill>
        </payment>
    </default>
</config>