<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_Checkout>
            <version>0.1.2</version>
        </Blackbox_Checkout>
    </modules>
    <global>
        <helpers>
            <blackbox_checkout>
                <class>Blackbox_Checkout_Helper</class>
            </blackbox_checkout>
        </helpers>
        <blocks>
            <blackbox_checkout>
                <class>Blackbox_Checkout_Block</class>
            </blackbox_checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_create_billing_method>Blackbox_Checkout_Block_Adminhtml_Sales_Order_Create_Billing_Method</sales_order_create_billing_method>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart>Blackbox_Checkout_Block_Checkout_Cart</cart>
                    <cart_item_renderer>Blackbox_Checkout_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                    <onepage_shipping>Blackbox_Checkout_Block_Checkout_Onepage_Shipping</onepage_shipping>
                    <onepage_shipping_method_available>Blackbox_Checkout_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                    <onepage_payment_methods>Blackbox_Checkout_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_info>Blackbox_Checkout_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <blackbox_checkout>
                <class>Blackbox_Checkout_Model</class>
            </blackbox_checkout>
            <checkout>
                <rewrite>
                    <type_onepage>Blackbox_Checkout_Model_Checkout_Type_Onepage</type_onepage>
                    <cart>Blackbox_Checkout_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <quote>Blackbox_Checkout_Model_Sales_Quote</quote>
                    <quote_item>Blackbox_Checkout_Model_Sales_Quote_Item</quote_item>
                    <quote_address>Blackbox_Checkout_Model_Sales_Quote_Address</quote_address>
                    <quote_address_total_subtotal>Blackbox_Checkout_Model_Sales_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                    <service_quote>Blackbox_Checkout_Model_Sales_Service_Quote</service_quote>
                    <order>Blackbox_Checkout_Model_Sales_Order</order>
                    <quote_payment>Blackbox_Checkout_Model_Sales_Quote_Payment</quote_payment>
                </rewrite>
            </sales>
            <!--<sales_resource>-->
                <!--<rewrite>-->
                    <!--<order_collection>Blackbox_Checkout_Model_Resource_Sales_Order_Collection</order_collection>-->
                <!--</rewrite>-->
            <!--</sales_resource>-->
            <core>
                <rewrite>
                    <email_template_filter>Blackbox_Checkout_Model_Core_Email_Template_Filter</email_template_filter>
                </rewrite>
            </core>
        </models>
        <resources>
            <blackbox_checkout_setup>
                <setup>
                    <module>Blackbox_Checkout</module>
                </setup>
            </blackbox_checkout_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <storelocator_id>
                    <to_order_address>*</to_order_address>
                </storelocator_id>
                <storelocator_name>
                    <to_order_address>*</to_order_address>
                </storelocator_name>
                <event_date>
                    <to_order>*</to_order>
                </event_date>
                <shipping_date>
                    <to_order>*</to_order>
                </shipping_date>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <sales_order_save_before>
                <observers>
                    <checkout_preorder>
                        <class>blackbox_checkout/observer</class>
                        <method>processPreorder</method>
                    </checkout_preorder>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <frontend>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <blackbox_checkout>
                        <class>blackbox_checkout/observer</class>
                        <method>salesQuoteProductAddAfter</method>
                    </blackbox_checkout>
                </observers>
            </sales_quote_product_add_after>
        </events>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <blackbox_checkout before="Mage_Checkout">Blackbox_Checkout</blackbox_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <blackbox_checkout>
                    <file>blackbox/checkout.xml</file>
                </blackbox_checkout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <blackbox_checkout>
                    <file>blackbox/checkout.xml</file>
                </blackbox_checkout>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Blackbox_Checkout before="Mage_Adminhtml">Blackbox_Checkout_Adminhtml</Blackbox_Checkout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <nopayment>
                <model>blackbox_checkout/payment_standard</model>
                <active>0</active>
                <order_status>pending</order_status>
                <title>No payment</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </nopayment>
        </payment>
    </default>
    <crontab>
        <jobs>
            <preorder_update>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr><!-- Every midnight -->
                </schedule>
                <run>
                    <model>blackbox_checkout/cron::processPreOrders</model>
                </run>
            </preorder_update>
        </jobs>
    </crontab>
</config>