<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_CustomerStores>
            <version>0.1.1</version>
        </Blackbox_CustomerStores>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <address_book>Blackbox_CustomerStores_Block_Customer_Address_Book</address_book>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <customer_stores>
                <class>Blackbox_CustomerStores_Helper</class>
            </customer_stores>
        </helpers>
        <models>
            <customer_stores>
                <class>Blackbox_CustomerStores_Model</class>
                <resourceModel>customer_stores_resource</resourceModel>
            </customer_stores>
            <customer_stores_resource>
                <class>Blackbox_CustomerStores_Model_Resource</class>
            </customer_stores_resource>
        </models>
        <resources>
            <blackbox_customer_stores_setup>
                <setup>
                    <module>Blackbox_CustomerStores</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </blackbox_customer_stores_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Blackbox_CustomerStores before="Mage_Customer">Blackbox_CustomerStores</Blackbox_CustomerStores>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>