<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_SummarInvoice>
            <version>0.1</version>
        </Blackbox_SummarInvoice>
    </modules>
    <global>
        <blocks>
            <summar_invoice>
                <class>Blackbox_SummarInvoice_Block</class>
            </summar_invoice>
        </blocks>
        <helpers>
            <summar_invoice>
                <class>Blackbox_SummarInvoice_Helper</class>
            </summar_invoice>
        </helpers>
        <models>
            <summar_invoice>
                <class>Blackbox_SummarInvoice_Model</class>
            </summar_invoice>
        </models>
        <template>
            <email>
                <newsletter_summar_invoice_template>
                    <label>Summar Invoice Template</label>
                    <file>summar_invoice.html</file>
                    <type>html</type>
                </newsletter_summar_invoice_template>
            </email>
        </template>
        <events>
            <notification_types_init>
                <observers>
                    <summar_invoice>
                        <type>singleton</type>
                        <class>summar_invoice/observer</class>
                        <method>initNotification</method>
                    </summar_invoice>
                </observers>
            </notification_types_init>
            <head_notification_types_init>
                <observers>
                    <summar_invoice>
                        <type>singleton</type>
                        <class>summar_invoice/observer</class>
                        <method>initHeadNotification</method>
                    </summar_invoice>
                </observers>
            </head_notification_types_init>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <summar_invoice>
                    <file>blackbox/summar_invoice.xml</file>
                </summar_invoice>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <summar_invoice before="Mage_Adminhtml">Blackbox_SummarInvoice_Adminhtml</summar_invoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <summar_invoice_week>
                <schedule><cron_expr>0 0 * * 0</cron_expr></schedule><!-- every week -->
                <run><model>summar_invoice/cron::weeklyReport</model></run>
            </summar_invoice_week>
            <summar_invoice_month>
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule><!-- every month -->
                <run><model>summar_invoice/cron::monthlyReport</model></run>
            </summar_invoice_month>
        </jobs>
    </crontab>
</config>