<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Blackbox_HelpDesk>
            <version>0.1</version>
        </Blackbox_HelpDesk>
    </modules>
    <global>
        <helpers>
            <helpdesk>
                <class>Blackbox_HelpDesk_Helper</class>
            </helpdesk>
        </helpers>
        <blocks>
            <helpdesk>
                <class>Blackbox_HelpDesk_Block</class>
            </helpdesk>
        </blocks>
        <models>
            <helpdesk>
                <class>Blackbox_HelpDesk_Model</class>
                <resourceModel>helpdesk_resource</resourceModel>
            </helpdesk>
            <helpdesk_resource>
                <class>Blackbox_HelpDesk_Model_Resource</class>
                <entities>
                    <zendesk_ticket_update>
                        <table>helpdesk_zendesk_ticket_update</table>
                    </zendesk_ticket_update>
                </entities>
            </helpdesk_resource>
        </models>
        <resources>
            <helpdesk_setup>
                <setup>
                    <module>Blackbox_HelpDesk</module>
                </setup>
            </helpdesk_setup>
        </resources>
        <events>
            <notification_types_init>
                <observers>
                    <helpdesk>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>initNotification</method>
                    </helpdesk>
                </observers>
            </notification_types_init>
            <head_notification_types_init>
                <observers>
                    <helpdesk>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>initHeadNotification</method>
                    </helpdesk>
                </observers>
            </head_notification_types_init>
        </events>
    </global>
    <frontend>
        <routers>
            <helpdesk>
                <use>standard</use>
                <args>
                    <module>Blackbox_HelpDesk</module>
                    <frontName>support</frontName>
                </args>
            </helpdesk>
        </routers>
        <layout>
            <updates>
                <helpdesk>
                    <file>blackbox/helpdesk.xml</file>
                </helpdesk>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <helpdesk_zendesk_update>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>helpdesk/cron::processUpdates</model></run>
            </helpdesk_zendesk_update>
        </jobs>
    </crontab>
</config>