<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_CinemaCloud>
            <version>0.1.0</version>
        </Blackbox_CinemaCloud>
    </modules>
    <global>
        <blocks>
            <cinemacloud>
                <class>Blackbox_CinemaCloud_Block</class>
            </cinemacloud>
            <page>
                <rewrite>
                    <html_pager>Blackbox_CinemaCloud_Block_Page_Html_Pager</html_pager>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <cinemacloud>
                <class>Blackbox_CinemaCloud_Helper</class>
            </cinemacloud>
        </helpers>
        <models>
            <cinemacloud>
                <class>Blackbox_CinemaCloud_Model</class>
            </cinemacloud>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cinemacloud>
                        <class>cinemacloud/observer</class>
                        <method>initRouters</method>
                    </cinemacloud>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <cinemacloud>
                        <class>cinemacloud/observer</class>
                        <method>controllerActionPredispatch</method>
                    </cinemacloud>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <cinemacloud>
                    <file>blackbox/cinemacloud.xml</file>
                </cinemacloud>
            </updates>
        </layout>
        <routers>
            <!--<cinemacloud>-->
                <!--<use>cinemacloud</use>-->
                <!--<args>-->
                    <!--<module>Blackbox_CinemaCloud</module>-->
                    <!--<frontName>login</frontName>-->
                <!--</args>-->
            <!--</cinemacloud>-->
            <redirect>
                <use>cinemacloud</use>
                <args>
                    <module>Blackbox_CinemaCloud_Redirect</module>
                    <frontName>redirect</frontName>
                </args>
            </redirect>
            <api>
                <use>cinemacloud</use>
            </api>
            <customer>
                <use>cinemacloud</use>
            </customer>
            <wishlist>
                <use>cinemacloud</use>
                <args>
                    <modules>
                        <Blackbox_CinemaCloud before="Mage_Wishlist">Blackbox_CinemaCloud_Wishlist</Blackbox_CinemaCloud>
                    </modules>
                </args>
            </wishlist>
            <catalog>
                <use>cinemacloud</use>
            </catalog>
            <checkout>
                <use>cinemacloud</use>
            </checkout>
            <wizkunde_websso>
                <use>cinemacloud</use>
            </wizkunde_websso>
            <cc_sso>
                <use>cinemacloud</use>
                <args>
                    <module>Blackbox_CinemaCloud_Sso</module>
                    <frontName>sso</frontName>
                </args>
            </cc_sso>
        </routers>
    </frontend>
    <default>
        <web>
            <routers>
                <standard>
                    <disabled>true</disabled>
                </standard>
                <cinemacloud>
                    <area>frontend</area>
                    <class>Blackbox_CinemaCloud_Controller_Router_Cinemacloud</class>
                </cinemacloud>
            </routers>
        </web>
    </default>
</config>