<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_Registration>
            <version>0.1.0</version>
        </Blackbox_Registration>
    </modules>
    <global>
        <helpers>
            <registration>
                <class>Blackbox_Registration_Helper</class>
            </registration>
        </helpers>
        <models>
            <registration>
                <class>Blackbox_Registration_Model</class>
            </registration>
        </models>
        <resources>
            <blackbox_registration_setup>
                <setup>
                    <module>Blackbox_Registration</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </blackbox_registration_setup>
        </resources>
        <template>
            <email>
                <newsletter_account_request_template>
                    <label>Customer Account Request Template</label>
                    <file>customer_account_request.html</file>
                    <type>html</type>
                </newsletter_account_request_template>
                <newsletter_account_approval_template>
                    <label>Customer Account Approval Template</label>
                    <file>customer_account_approval.html</file>
                    <type>html</type>
                </newsletter_account_approval_template>
            </email>
        </template>
        <events>
            <notification_types_init>
                <observers>
                    <blackbox_registration>
                        <type>singleton</type>
                        <class>registration/observer</class>
                        <method>initNotification</method>
                    </blackbox_registration>
                </observers>
            </notification_types_init>
        </events>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <blackbox_registration>
                        <type>singleton</type>
                        <class>registration/observer</class>
                        <method>customerLogin</method>
                    </blackbox_registration>
                </observers>
            </customer_login>
            <customer_register_success>
                <observers>
                    <blackbox_registration>
                        <type>singleton</type>
                        <class>registration/observer</class>
                        <method>customerRegisterSuccess</method>
                    </blackbox_registration>
                </observers>
            </customer_register_success>
        </events>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Blackbox_Registration before="Mage_Customer">Blackbox_Registration</Blackbox_Registration>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Blackbox_Registration before="Mage_Adminhtml">Blackbox_Registration_Adminhtml</Blackbox_Registration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <blackbox_registration>
                        <type>singleton</type>
                        <class>registration/observer</class>
                        <method>adminhtmlCustomerSaveAfter</method>
                    </blackbox_registration>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
</config>